In [2]:
#Bibliotecas para poder trabajar con Spark
!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-3.5.0/spark-3.5.0-bin-hadoop3.tgz
!tar xf spark-3.5.0-bin-hadoop3.tgz
#Configuración de Spark con Python
!pip install -q findspark
!pip install pyspark

#Estableciendo variable de entorno
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.0-bin-hadoop3"

#Buscando e inicializando la instalación de Spark
import findspark
findspark.init()
findspark.find()

Get:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Get:2 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Get:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [589 kB]
Get:4 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Hit:5 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Get:6 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,012 kB]
Hit:7 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Get:8 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [1,185 kB]
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Get:10 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [1,389 kB]
Hit:11 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Hit:12 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:13 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [109 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [1,455 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,278 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [1,415 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy-backports/universe amd64 Packages [32.6 kB]
Fetched 8,699 kB in 9s (989 kB/s)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
22 packages can be upgraded. Run 'apt list --upgradable' to see them.
Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=9d4696140659eab8653c964adc063da76a5fc35f195e3e0b5c396463e079df12
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

'/content/spark-3.5.0-bin-hadoop3'

In [67]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as f
from pyspark.ml.feature import StringIndexer, OneHotEncoder
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import LogisticRegression

In [4]:
spark_session = SparkSession.builder.appName('Entregable1').getOrCreate()
spark_session

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [45]:
df = spark_session.read.csv('/content/drive/My Drive/Colab Notebooks/bank.csv', inferSchema=True, header=True)

In [46]:
df.show()

+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|age|        job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
| 59|     admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|
| 56|     admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|
| 41| technician| married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|
| 55|   services| married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|
| 54|     admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|
| 42| management|  single| tertiary|     no|      0|    yes| yes|unknown|  5|  may|     562|       2|   -1|       0| unknown|    yes|
| 56| management| married| tertiary|     no|    830|    yes| yes|unknown|  6|  may|    1201|       1|   -1|       0| unknown|    yes|
| 60|    retired|divorced|secondary|     no|    545|    yes|  no|unknown|  6|  may|    1030|       1|   -1|       0| unknown|    yes|
| 37| technician| married|secondary|     no|      1|    yes|  no|unknown|  6|  may|     608|       1|   -1|       0| unknown|    yes|
| 28|   services|  single|secondary|     no|   5090|    yes|  no|unknown|  6|  may|    1297|       3|   -1|       0| unknown|    yes|
| 38|     admin.|  single|secondary|     no|    100|    yes|  no|unknown|  7|  may|     786|       1|   -1|       0| unknown|    yes|
| 30|blue-collar| married|secondary|     no|    309|    yes|  no|unknown|  7|  may|    1574|       2|   -1|       0| unknown|    yes|
| 29| management| married| tertiary|     no|    199|    yes| yes|unknown|  7|  may|    1689|       4|   -1|       0| unknown|    yes|
| 46|blue-collar|  single| tertiary|     no|    460|    yes|  no|unknown|  7|  may|    1102|       2|   -1|       0| unknown|    yes|
| 31| technician|  single| tertiary|     no|    703|    yes|  no|unknown|  8|  may|     943|       2|   -1|       0| unknown|    yes|
| 35| management|divorced| tertiary|     no|   3837|    yes|  no|unknown|  8|  may|    1084|       1|   -1|       0| unknown|    yes|
| 32|blue-collar|  single|  primary|     no|    611|    yes|  no|unknown|  8|  may|     541|       3|   -1|       0| unknown|    yes|
| 49|   services| married|secondary|     no|     -8|    yes|  no|unknown|  8|  may|    1119|       1|   -1|       0| unknown|    yes|
| 41|     admin.| married|secondary|     no|     55|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|
| 49|     admin.|divorced|secondary|     no|    168|    yes| yes|unknown|  8|  may|     513|       1|   -1|       0| unknown|    yes|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 20 rows

In [47]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- deposit: string (nullable = true)

In [48]:
data = df.drop(*['contact', 'day', 'month', 'default'])
data.columns

['age',
 'job',
 'marital',
 'education',
 'balance',
 'housing',
 'loan',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'deposit']

In [49]:
data.describe().show()

+-------+------------------+-------+--------+---------+------------------+-------+-----+------------------+------------------+------------------+------------------+--------+-------+
|summary|               age|    job| marital|education|           balance|housing| loan|          duration|          campaign|             pdays|          previous|poutcome|deposit|
+-------+------------------+-------+--------+---------+------------------+-------+-----+------------------+------------------+------------------+------------------+--------+-------+
|  count|             11162|  11162|   11162|    11162|             11162|  11162|11162|             11162|             11162|             11162|             11162|   11162|  11162|
|   mean|41.231947679627304|   NULL|    NULL|     NULL|1528.5385235620856|   NULL| NULL|371.99381831213043| 2.508421429851281| 51.33040673714388|0.8325568894463358|    NULL|   NULL|
| stddev|11.913369192215518|   NULL|    NULL|     NULL| 3225.413325946149|   NULL| NULL|347.12838571630687|2.7220771816614824|108.75828197197717| 2.292007218670508|    NULL|   NULL|
|    min|                18| admin.|divorced|  primary|             -6847|     no|   no|                 2|                 1|                -1|                 0| failure|     no|
|    max|                95|unknown|  single|  unknown|             81204|    yes|  yes|              3881|                63|               854|                58| unknown|    yes|
+-------+------------------+-------+--------+---------+------------------+-------+-----+------------------+------------------+------------------+------------------+--------+-------+

In [50]:
# Para contar cuantos null hay en cada columna
data_agg = data.agg(*[f.count(f.when(f.isnull(c), c)).alias(c) for c in data.columns])
data_agg.show()

+---+---+-------+---------+-------+-------+----+--------+--------+-----+--------+--------+-------+
|age|job|marital|education|balance|housing|loan|duration|campaign|pdays|previous|poutcome|deposit|
+---+---+-------+---------+-------+-------+----+--------+--------+-----+--------+--------+-------+
|  0|  0|      0|        0|      0|      0|   0|       0|       0|    0|       0|       0|      0|
+---+---+-------+---------+-------+-------+----+--------+--------+-----+--------+--------+-------+

In [51]:
# value counts of columns
data.groupBy('job').count().show()
print()
data.groupBy('marital').count().show()
print()
data.groupBy('education').count().show()
print()
data.groupBy('loan').count().show()
print()
data.groupBy('poutcome').count().show()
print()
data.groupBy('deposit').count().show()

+-------------+-----+
|          job|count|
+-------------+-----+
|   management| 2566|
|      retired|  778|
|      unknown|   70|
|self-employed|  405|
|      student|  360|
|  blue-collar| 1944|
| entrepreneur|  328|
|       admin.| 1334|
|   technician| 1823|
|     services|  923|
|    housemaid|  274|
|   unemployed|  357|
+-------------+-----+


+--------+-----+
| marital|count|
+--------+-----+
|divorced| 1293|
| married| 6351|
|  single| 3518|
+--------+-----+


+---------+-----+
|education|count|
+---------+-----+
|  unknown|  497|
| tertiary| 3689|
|secondary| 5476|
|  primary| 1500|
+---------+-----+


+----+-----+
|loan|count|
+----+-----+
|  no| 9702|
| yes| 1460|
+----+-----+


+--------+-----+
|poutcome|count|
+--------+-----+
| success| 1071|
| unknown| 8326|
|   other|  537|
| failure| 1228|
+--------+-----+


+-------+-----+
|deposit|count|
+-------+-----+
|     no| 5873|
|    yes| 5289|
+-------+-----+

In [52]:
data.dtypes

[('age', 'int'),
 ('job', 'string'),
 ('marital', 'string'),
 ('education', 'string'),
 ('balance', 'int'),
 ('housing', 'string'),
 ('loan', 'string'),
 ('duration', 'int'),
 ('campaign', 'int'),
 ('pdays', 'int'),
 ('previous', 'int'),
 ('poutcome', 'string'),
 ('deposit', 'string')]

In [53]:
# Crear objetos StringIndexer para cada columna categórica
indexer_job = StringIndexer(inputCol='job', outputCol='job_Index')
indexer_marital = StringIndexer(inputCol='marital',outputCol='marital_Index')
indexer_education = StringIndexer(inputCol='education',outputCol='education_Index')
indexer_housing = StringIndexer(inputCol='housing',outputCol='housing_Index')
indexer_loan = StringIndexer(inputCol='loan',outputCol='loan_Index')
indexer_poutcome = StringIndexer(inputCol='poutcome',outputCol='poutcome_Index')
indexer_deposit = StringIndexer(inputCol='deposit',outputCol='deposit_Index')

# Transformar los datos aplicando la codificación a cada columna
data = indexer_job.fit(data).transform(data)
data = indexer_marital.fit(data).transform(data)
data = indexer_education.fit(data).transform(data)
data = indexer_housing.fit(data).transform(data)
data = indexer_loan.fit(data).transform(data)
data = indexer_poutcome.fit(data).transform(data)
data = indexer_deposit.fit(data).transform(data)

In [54]:
data.select('*').show()

+---+-----------+--------+---------+-------+-------+----+--------+--------+-----+--------+--------+-------+---------+-------------+---------------+-------------+----------+--------------+-------------+
|age|        job| marital|education|balance|housing|loan|duration|campaign|pdays|previous|poutcome|deposit|job_Index|marital_Index|education_Index|housing_Index|loan_Index|poutcome_Index|deposit_Index|
+---+-----------+--------+---------+-------+-------+----+--------+--------+-----+--------+--------+-------+---------+-------------+---------------+-------------+----------+--------------+-------------+
| 59|     admin.| married|secondary|   2343|    yes|  no|    1042|       1|   -1|       0| unknown|    yes|      3.0|          0.0|            0.0|          1.0|       0.0|           0.0|          1.0|
| 56|     admin.| married|secondary|     45|     no|  no|    1467|       1|   -1|       0| unknown|    yes|      3.0|          0.0|            0.0|          0.0|       0.0|           0.0|          1.0|
| 41| technician| married|secondary|   1270|    yes|  no|    1389|       1|   -1|       0| unknown|    yes|      2.0|          0.0|            0.0|          1.0|       0.0|           0.0|          1.0|
| 55|   services| married|secondary|   2476|    yes|  no|     579|       1|   -1|       0| unknown|    yes|      4.0|          0.0|            0.0|          1.0|       0.0|           0.0|          1.0|
| 54|     admin.| married| tertiary|    184|     no|  no|     673|       2|   -1|       0| unknown|    yes|      3.0|          0.0|            1.0|          0.0|       0.0|           0.0|          1.0|
| 42| management|  single| tertiary|      0|    yes| yes|     562|       2|   -1|       0| unknown|    yes|      0.0|          1.0|            1.0|          1.0|       1.0|           0.0|          1.0|
| 56| management| married| tertiary|    830|    yes| yes|    1201|       1|   -1|       0| unknown|    yes|      0.0|          0.0|            1.0|          1.0|       1.0|           0.0|          1.0|
| 60|    retired|divorced|secondary|    545|    yes|  no|    1030|       1|   -1|       0| unknown|    yes|      5.0|          2.0|            0.0|          1.0|       0.0|           0.0|          1.0|
| 37| technician| married|secondary|      1|    yes|  no|     608|       1|   -1|       0| unknown|    yes|      2.0|          0.0|            0.0|          1.0|       0.0|           0.0|          1.0|
| 28|   services|  single|secondary|   5090|    yes|  no|    1297|       3|   -1|       0| unknown|    yes|      4.0|          1.0|            0.0|          1.0|       0.0|           0.0|          1.0|
| 38|     admin.|  single|secondary|    100|    yes|  no|     786|       1|   -1|       0| unknown|    yes|      3.0|          1.0|            0.0|          1.0|       0.0|           0.0|          1.0|
| 30|blue-collar| married|secondary|    309|    yes|  no|    1574|       2|   -1|       0| unknown|    yes|      1.0|          0.0|            0.0|          1.0|       0.0|           0.0|          1.0|
| 29| management| married| tertiary|    199|    yes| yes|    1689|       4|   -1|       0| unknown|    yes|      0.0|          0.0|            1.0|          1.0|       1.0|           0.0|          1.0|
| 46|blue-collar|  single| tertiary|    460|    yes|  no|    1102|       2|   -1|       0| unknown|    yes|      1.0|          1.0|            1.0|          1.0|       0.0|           0.0|          1.0|
| 31| technician|  single| tertiary|    703|    yes|  no|     943|       2|   -1|       0| unknown|    yes|      2.0|          1.0|            1.0|          1.0|       0.0|           0.0|          1.0|
| 35| management|divorced| tertiary|   3837|    yes|  no|    1084|       1|   -1|       0| unknown|    yes|      0.0|          2.0|            1.0|          1.0|       0.0|           0.0|          1.0|
| 32|blue-collar|  single|  primary|    611|    yes|  no|     541|       3|   -1|       0| unknown|    yes|      1.0|          1.0|            2.0|          1.0|       0.0|           0.0|          1.0|
| 49|   services| married|secondary|     -8|    yes|  no|    1119|       1|   -1|       0| unknown|    yes|      4.0|          0.0|            0.0|          1.0|       0.0|           0.0|          1.0|
| 41|     admin.| married|secondary|     55|    yes|  no|    1120|       2|   -1|       0| unknown|    yes|      3.0|          0.0|            0.0|          1.0|       0.0|           0.0|          1.0|
| 49|     admin.|divorced|secondary|    168|    yes| yes|     513|       1|   -1|       0| unknown|    yes|      3.0|          2.0|            0.0|          1.0|       1.0|           0.0|          1.0|
+---+-----------+--------+---------+-------+-------+----+--------+--------+-----+--------+--------+-------+---------+-------------+---------------+-------------+----------+--------------+-------------+
only showing top 20 rows

In [55]:
one_hot_enconder = OneHotEncoder(
    inputCols=['job_Index','marital_Index','education_Index','housing_Index',
               'loan_Index','poutcome_Index','deposit_Index'],
    outputCols=['job_onehot','martial_onehot','education_onehot',
                'housing_onehot','loan_onehot','poutcome_onehot','deposit_onehot'])

data = one_hot_enconder.fit(data).transform(data)

data.select('job', 'job_Index', 'job_onehot','education','education_Index','education_onehot').show(10)

+----------+---------+--------------+---------+---------------+----------------+
|       job|job_Index|    job_onehot|education|education_Index|education_onehot|
+----------+---------+--------------+---------+---------------+----------------+
|    admin.|      3.0|(11,[3],[1.0])|secondary|            0.0|   (3,[0],[1.0])|
|    admin.|      3.0|(11,[3],[1.0])|secondary|            0.0|   (3,[0],[1.0])|
|technician|      2.0|(11,[2],[1.0])|secondary|            0.0|   (3,[0],[1.0])|
|  services|      4.0|(11,[4],[1.0])|secondary|            0.0|   (3,[0],[1.0])|
|    admin.|      3.0|(11,[3],[1.0])| tertiary|            1.0|   (3,[1],[1.0])|
|management|      0.0|(11,[0],[1.0])| tertiary|            1.0|   (3,[1],[1.0])|
|management|      0.0|(11,[0],[1.0])| tertiary|            1.0|   (3,[1],[1.0])|
|   retired|      5.0|(11,[5],[1.0])|secondary|            0.0|   (3,[0],[1.0])|
|technician|      2.0|(11,[2],[1.0])|secondary|            0.0|   (3,[0],[1.0])|
|  services|      4.0|(11,[4],[1.0])|secondary|            0.0|   (3,[0],[1.0])|
+----------+---------+--------------+---------+---------------+----------------+
only showing top 10 rows

In [56]:
data.show()

+---+-----------+--------+---------+-------+-------+----+--------+--------+-----+--------+--------+-------+---------+-------------+---------------+-------------+----------+--------------+-------------+--------------+--------------+----------------+--------------+-------------+---------------+--------------+
|age|        job| marital|education|balance|housing|loan|duration|campaign|pdays|previous|poutcome|deposit|job_Index|marital_Index|education_Index|housing_Index|loan_Index|poutcome_Index|deposit_Index|    job_onehot|martial_onehot|education_onehot|housing_onehot|  loan_onehot|poutcome_onehot|deposit_onehot|
+---+-----------+--------+---------+-------+-------+----+--------+--------+-----+--------+--------+-------+---------+-------------+---------------+-------------+----------+--------------+-------------+--------------+--------------+----------------+--------------+-------------+---------------+--------------+
| 59|     admin.| married|secondary|   2343|    yes|  no|    1042|       1|   -1|       0| unknown|    yes|      3.0|          0.0|            0.0|          1.0|       0.0|           0.0|          1.0|(11,[3],[1.0])| (2,[0],[1.0])|   (3,[0],[1.0])|     (1,[],[])|(1,[0],[1.0])|  (3,[0],[1.0])|     (1,[],[])|
| 56|     admin.| married|secondary|     45|     no|  no|    1467|       1|   -1|       0| unknown|    yes|      3.0|          0.0|            0.0|          0.0|       0.0|           0.0|          1.0|(11,[3],[1.0])| (2,[0],[1.0])|   (3,[0],[1.0])| (1,[0],[1.0])|(1,[0],[1.0])|  (3,[0],[1.0])|     (1,[],[])|
| 41| technician| married|secondary|   1270|    yes|  no|    1389|       1|   -1|       0| unknown|    yes|      2.0|          0.0|            0.0|          1.0|       0.0|           0.0|          1.0|(11,[2],[1.0])| (2,[0],[1.0])|   (3,[0],[1.0])|     (1,[],[])|(1,[0],[1.0])|  (3,[0],[1.0])|     (1,[],[])|
| 55|   services| married|secondary|   2476|    yes|  no|     579|       1|   -1|       0| unknown|    yes|      4.0|          0.0|            0.0|          1.0|       0.0|           0.0|          1.0|(11,[4],[1.0])| (2,[0],[1.0])|   (3,[0],[1.0])|     (1,[],[])|(1,[0],[1.0])|  (3,[0],[1.0])|     (1,[],[])|
| 54|     admin.| married| tertiary|    184|     no|  no|     673|       2|   -1|       0| unknown|    yes|      3.0|          0.0|            1.0|          0.0|       0.0|           0.0|          1.0|(11,[3],[1.0])| (2,[0],[1.0])|   (3,[1],[1.0])| (1,[0],[1.0])|(1,[0],[1.0])|  (3,[0],[1.0])|     (1,[],[])|
| 42| management|  single| tertiary|      0|    yes| yes|     562|       2|   -1|       0| unknown|    yes|      0.0|          1.0|            1.0|          1.0|       1.0|           0.0|          1.0|(11,[0],[1.0])| (2,[1],[1.0])|   (3,[1],[1.0])|     (1,[],[])|    (1,[],[])|  (3,[0],[1.0])|     (1,[],[])|
| 56| management| married| tertiary|    830|    yes| yes|    1201|       1|   -1|       0| unknown|    yes|      0.0|          0.0|            1.0|          1.0|       1.0|           0.0|          1.0|(11,[0],[1.0])| (2,[0],[1.0])|   (3,[1],[1.0])|     (1,[],[])|    (1,[],[])|  (3,[0],[1.0])|     (1,[],[])|
| 60|    retired|divorced|secondary|    545|    yes|  no|    1030|       1|   -1|       0| unknown|    yes|      5.0|          2.0|            0.0|          1.0|       0.0|           0.0|          1.0|(11,[5],[1.0])|     (2,[],[])|   (3,[0],[1.0])|     (1,[],[])|(1,[0],[1.0])|  (3,[0],[1.0])|     (1,[],[])|
| 37| technician| married|secondary|      1|    yes|  no|     608|       1|   -1|       0| unknown|    yes|      2.0|          0.0|            0.0|          1.0|       0.0|           0.0|          1.0|(11,[2],[1.0])| (2,[0],[1.0])|   (3,[0],[1.0])|     (1,[],[])|(1,[0],[1.0])|  (3,[0],[1.0])|     (1,[],[])|
| 28|   services|  single|secondary|   5090|    yes|  no|    1297|       3|   -1|       0| unknown|    yes|      4.0|          1.0|            0.0|          1.0|       0.0|           0.0|          1.0|(11,[4],[1.0])| (2,[1],[1.0])|   (3,[0],[1.0])|     (1,[],[])|(1,[0],[1.0])|  (3,[0],[1.0])|     (1,[],[])|
| 38|     admin.|  single|secondary|    100|    yes|  no|     786|       1|   -1|       0| unknown|    yes|      3.0|          1.0|            0.0|          1.0|       0.0|           0.0|          1.0|(11,[3],[1.0])| (2,[1],[1.0])|   (3,[0],[1.0])|     (1,[],[])|(1,[0],[1.0])|  (3,[0],[1.0])|     (1,[],[])|
| 30|blue-collar| married|secondary|    309|    yes|  no|    1574|       2|   -1|       0| unknown|    yes|      1.0|          0.0|            0.0|          1.0|       0.0|           0.0|          1.0|(11,[1],[1.0])| (2,[0],[1.0])|   (3,[0],[1.0])|     (1,[],[])|(1,[0],[1.0])|  (3,[0],[1.0])|     (1,[],[])|
| 29| management| married| tertiary|    199|    yes| yes|    1689|       4|   -1|       0| unknown|    yes|      0.0|          0.0|            1.0|          1.0|       1.0|           0.0|          1.0|(11,[0],[1.0])| (2,[0],[1.0])|   (3,[1],[1.0])|     (1,[],[])|    (1,[],[])|  (3,[0],[1.0])|     (1,[],[])|
| 46|blue-collar|  single| tertiary|    460|    yes|  no|    1102|       2|   -1|       0| unknown|    yes|      1.0|          1.0|            1.0|          1.0|       0.0|           0.0|          1.0|(11,[1],[1.0])| (2,[1],[1.0])|   (3,[1],[1.0])|     (1,[],[])|(1,[0],[1.0])|  (3,[0],[1.0])|     (1,[],[])|
| 31| technician|  single| tertiary|    703|    yes|  no|     943|       2|   -1|       0| unknown|    yes|      2.0|          1.0|            1.0|          1.0|       0.0|           0.0|          1.0|(11,[2],[1.0])| (2,[1],[1.0])|   (3,[1],[1.0])|     (1,[],[])|(1,[0],[1.0])|  (3,[0],[1.0])|     (1,[],[])|
| 35| management|divorced| tertiary|   3837|    yes|  no|    1084|       1|   -1|       0| unknown|    yes|      0.0|          2.0|            1.0|          1.0|       0.0|           0.0|          1.0|(11,[0],[1.0])|     (2,[],[])|   (3,[1],[1.0])|     (1,[],[])|(1,[0],[1.0])|  (3,[0],[1.0])|     (1,[],[])|
| 32|blue-collar|  single|  primary|    611|    yes|  no|     541|       3|   -1|       0| unknown|    yes|      1.0|          1.0|            2.0|          1.0|       0.0|           0.0|          1.0|(11,[1],[1.0])| (2,[1],[1.0])|   (3,[2],[1.0])|     (1,[],[])|(1,[0],[1.0])|  (3,[0],[1.0])|     (1,[],[])|
| 49|   services| married|secondary|     -8|    yes|  no|    1119|       1|   -1|       0| unknown|    yes|      4.0|          0.0|            0.0|          1.0|       0.0|           0.0|          1.0|(11,[4],[1.0])| (2,[0],[1.0])|   (3,[0],[1.0])|     (1,[],[])|(1,[0],[1.0])|  (3,[0],[1.0])|     (1,[],[])|
| 41|     admin.| married|secondary|     55|    yes|  no|    1120|       2|   -1|       0| unknown|    yes|      3.0|          0.0|            0.0|          1.0|       0.0|           0.0|          1.0|(11,[3],[1.0])| (2,[0],[1.0])|   (3,[0],[1.0])|     (1,[],[])|(1,[0],[1.0])|  (3,[0],[1.0])|     (1,[],[])|
| 49|     admin.|divorced|secondary|    168|    yes| yes|     513|       1|   -1|       0| unknown|    yes|      3.0|          2.0|            0.0|          1.0|       1.0|           0.0|          1.0|(11,[3],[1.0])|     (2,[],[])|   (3,[0],[1.0])|     (1,[],[])|    (1,[],[])|  (3,[0],[1.0])|     (1,[],[])|
+---+-----------+--------+---------+-------+-------+----+--------+--------+-----+--------+--------+-------+---------+-------------+---------------+-------------+----------+--------------+-------------+--------------+--------------+----------------+--------------+-------------+---------------+--------------+
only showing top 20 rows

In [62]:

assembler = VectorAssembler(inputCols=['age',
                                       'job_Index',
                                       'marital_Index',
                                       'education_Index',
                                       'balance',
                                       'housing_Index',
                                       'loan_Index',
                                       'duration',
                                       'campaign',
                                       'pdays',
                                       'previous',
                                       'poutcome_Index',
                                       'job_onehot',
                                       'martial_onehot',
                                       'housing_onehot',
                                       'education_onehot',
                                       'loan_onehot',
                                       'poutcome_onehot'],
                           outputCol='features')

In [63]:
final_data = assembler.transform(data)

In [64]:
final_data.select('features','deposit_Index').show()

+--------------------+-------------+
|            features|deposit_Index|
+--------------------+-------------+
|(33,[0,1,4,5,7,8,...|          1.0|
|(33,[0,1,4,7,8,9,...|          1.0|
|(33,[0,1,4,5,7,8,...|          1.0|
|(33,[0,1,4,5,7,8,...|          1.0|
|(33,[0,1,3,4,7,8,...|          1.0|
|(33,[0,2,3,5,6,7,...|          1.0|
|(33,[0,3,4,5,6,7,...|          1.0|
|(33,[0,1,2,4,5,7,...|          1.0|
|(33,[0,1,4,5,7,8,...|          1.0|
|(33,[0,1,2,4,5,7,...|          1.0|
|(33,[0,1,2,4,5,7,...|          1.0|
|(33,[0,1,4,5,7,8,...|          1.0|
|(33,[0,3,4,5,6,7,...|          1.0|
|(33,[0,1,2,3,4,5,...|          1.0|
|(33,[0,1,2,3,4,5,...|          1.0|
|(33,[0,2,3,4,5,7,...|          1.0|
|(33,[0,1,2,3,4,5,...|          1.0|
|(33,[0,1,4,5,7,8,...|          1.0|
|(33,[0,1,4,5,7,8,...|          1.0|
|(33,[0,1,2,4,5,6,...|          1.0|
+--------------------+-------------+
only showing top 20 rows

In [65]:
model_df = final_data.select(['features','deposit_Index'])
model_df = model_df.withColumnRenamed("deposit_Index","label")
model_df.printSchema()

root
 |-- features: vector (nullable = true)
 |-- label: double (nullable = false)

In [66]:
training_df, test_df = model_df.randomSplit([0.75,0.25])

In [68]:
model = LogisticRegression().fit(training_df)
model_summary = model.summary
print(f'ACCURACY: {model_summary.accuracy}')
print(f'AREA UNDER ROC: {model_summary.areaUnderROC}')

ACCURACY: 0.7995468638206534
AREA UNDER ROC: 0.8806670492647813

In [73]:
#Precision of both classes
print(model_summary.precisionByLabel)

[0.7880135535789919, 0.8144104803493449]

In [74]:
#Recall of both classes
print(model_summary.recallByLabel)

[0.8454896614405817, 0.7488080301129235]

In [77]:
#Get Predictions
predictions = model.transform(test_df)
predictions.select('label','prediction').show(50)

+-----+----------+
|label|prediction|
+-----+----------+
|  0.0|       0.0|
|  1.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  1.0|       1.0|
|  0.0|       0.0|
|  1.0|       1.0|
|  0.0|       0.0|
|  1.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  1.0|       0.0|
|  1.0|       1.0|
|  0.0|       0.0|
|  1.0|       1.0|
|  1.0|       1.0|
|  1.0|       1.0|
|  0.0|       0.0|
|  0.0|       1.0|
|  0.0|       1.0|
|  1.0|       0.0|
|  1.0|       1.0|
|  1.0|       1.0|
|  0.0|       0.0|
|  1.0|       1.0|
|  1.0|       1.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  1.0|       1.0|
|  1.0|       1.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       1.0|
|  1.0|       1.0|
|  1.0|       1.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  1.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  1.0|       1.0|
|  1.0|       1.0|
|  0.0|       0.0|
+-----+----------+
only showing top 50 rows